# Docker deployment
DUDU_DEPLOY_ROOT=../data/prod
DUDU_SERVER_PORT=30352

# Application
DUDU_PORT=8000
DUDU_LOG_LEVEL=INFO

# External MySQL
DUDU_MYSQL_HOST=mysql.internal
DUDU_MYSQL_PORT=3306
DUDU_MYSQL_USER=root
DUDU_MYSQL_PASSWORD=change-me
DUDU_MYSQL_DATABASE=dudu_agent_core
